#bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#imageContainer {
    background-color: grey;
    position: relative;
    padding: 10px;
    width: 500px;
}

.slide img{
    width:100%;
    object-fit: contain;
}

#prevImg, #nextImg {
    cursor: pointer;
    position: absolute;
    background-color: black;
    top:40%;
    font-size: 35px;
}

#prevImg {
    left: 0;
}
#nextImg {
    right: 0;
}