#bodyContent {
    display:flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

#gameNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap:20px;
    margin-top: 20px;
}

#gameNav button {
    width:75px;
    height:45px;
    color:#5e503f;
    font-weight: bold;
    border:none;
    border-bottom: 5px #5e503f solid;
    transition: border-color 0.4s;
}
#gameNav button:hover {
    border-color: #d90368;
}

#gamePanel {
    border: 3px black solid;
    width: 500px;
    height: 500px;
}

