html {
    background-color: #C19AB7;
    display: flex;
    justify-content: center;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    border-radius: 20px;
         text-align: center;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #9C95DC 4px solid;
    width: 100%;
    padding-top: 20px;
}
footer {
    position: static;
    bottom: 0px;
    right: 0px;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    align-items: end;
    border-bottom: #9C95DC 4px solid;
    width:100%;
}
#NavButtons {
    display:  flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
#NavButtons button {
    background: none;
    width: 150px;
    border-radius: 10px 10px 0 0;
    border:#9C95DC 2px solid;
    border-bottom: none;
    padding: 10px;
    transition:  0.3s linear;
}
#mainContent {
     margin-top: 50px;
     text-align: center;
}
#contentButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
#contentButtons button {
    background: none;
    width:300px;
    height:100px;
    border: #0B7189 4px solid;
    border-radius: 20px;
    font-style: 24px;
    box-shadow:10px 10px 10px rgba(0,0,0,0.429);
        transition:  0.1s linear;

}
#NavButtons button:hover {
    border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        cursor: pointer;

}
#contentButtons button:hover {
    border-radius: 30px;
        cursor: pointer;

}