html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


#opener {
  background-color: rgb(243, 230, 230);
  border-radius: 25px;
  position: fixed;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  padding: 25px;
}
#opener form {
  display:flex;
  flex-direction: column;
  row-gap: 25px;
}

#opener form label {
  display: flex;
  flex-direction: column;
}